<div class="productHomeWrapper">
  <div class="productHomeHeader">
    <form action="/products/new">
      <input class='pnew' type="submit" value='Add a New Product'>
    </form>
    <h1 id='product-h1'>Products</h1>
    <form action="/">
      <input type="submit" value="HOME" class='home-button'>
    </form>
  </div>
  <div class='product-entries-container'>
    {{#each products}}
    <div id='products-entries'>
      <form action="/products/{{id}}">
        <input type="submit" value="{{id}}" class='ptitle'>
      </form>
      <h5>NAME: {{name}}</h5>
      <p id='product-body'>PRICE: {{price}}</p>
      <p>INVENTORY: {{inventory}}</p>
    </div>
    {{/each}}
  </div>